/* Add your preferred styles here */

.StatementOfPurposeForm {
    /* max-width: 400px; */
    margin: 0 auto;
  }
  
  /* label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
   */
  /* textarea {
    width: 100%;
 
    margin-bottom: 15px;
    padding: 10px;
    resize: vertical; 
  } */
  
  /* button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  } */
  
  /* Optional: Add more styles as needed */
  column-1 {
    float: left; 
  }
  
  .left-1 {
    width: 35%;
    margin-top: 40px;
    /* border: 1px solid; */
    /* padding: 10px; */
    box-shadow: 2px 2px 2px 2px #f8f6f6;
  }
  
  .right-1 {
    width: 40%;
    margin-top: 4%;
    margin-left: 11%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }